<!-- Blog Title -->
<h1>Betheng's Tech Blog</h1>

<!-- Blog Card Section -->
<section class="card">
  <a href="/blogs/{{hid}}" class="card-body">
    <!-- Blog Title -->
    <h3 class="card-title">{{title}}</h3>

    <!-- Blog Author and Timestamp -->
    <h4>Posted by {{user.username}} on {{createdAt}}</h4>

    <!-- Blog Content -->
    <p class="card-text">{{content}}</p>
  </a>
</section>

<!-- JavaScript File -->
<script src="/public/js/dashboard.js"></script>